* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.mt-4 {
    margin-top: .4rem;
}

.mr-4 {
    margin-right: .4rem;
}

.mb-4 {
    margin-bottom: .4rem;
}

.ml-4 {
    margin-left: .4rem;
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
    flex-flow: wrap;
    text-align: left;
}

.wrapper > * {
    flex: 1 1 100%;
    padding: 1rem 2rem;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid #609A33;
}

.header h1 {
    color: #609A33;
    font-size: 3rem;
    margin-bottom: .6rem;
}

.header h6 {
    font-weight: bolder;
    font-size: small;
    letter-spacing: 1rem;
    flex-wrap: wrap;
    background-color: #FDBBB4;
    text-align: center;
}

.main-article-heading h2{
    font-size: 2rem;
    color: darkslategrey;
    letter-spacing: .2rem;
}


.main-article-heading i{
    height: 1rem;
}


.main-article-body {
    word-spacing: .3rem;
    margin: 2rem auto;
}



.footer {
    text-align: center;
    padding: 1rem 0;
    color: #F0F0F0;
    background-color: #609A33;
}

.main {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    color: #454545;
    background-color: white;
}

.main h2{
    margin: 1.5rem 0 0.5rem;
}

.main p {
    margin: .5rem 0;
}

.main img {
    margin: .5rem .5rem;
}

.aside {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    color: #454545;
    background-color: white;
}

.aside >* {
    margin-top: 4rem;
    flex: 1 1 100%;
}

.form {
    margin: 2rem 0;
}

.form {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card h2 {
    color: #609A33;
    margin-bottom: 1rem;
}

.card p {
    padding: 1rem;
}

.comment h2{
    color: #609A33;
}

.form >* {
    margin-right: 1rem;
}

.form input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #609A33;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea::placeholder {
    font-size: 1rem;
    padding: .5rem;
}

@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
    .main { flex: 2 0; }
    .main { order: 1; }
    .aside { order: 2; }
    .comment {order: 3}
    .footer { order: 4;}
}
